.video-div {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.video-style{
    width: 100%;
    height: auto;
}

.content-div{
    min-height: 100%;
    min-width: 60%;
    flex-direction: column;
    gap: 10pt;
}

.info-div{
    padding: 2.5pt;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 10pt;
}

@media only screen and (max-width: 750px) {
    .video-div {
        display: none;
    }
}
