
.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-radius: 15pt;
    background-color: var(--mid-dark-background);
}

.home-main-content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: inherit;
    height: inherit;
    padding-bottom: 15pt;
    gap: 15pt;
}

.home-main-content::-webkit-scrollbar{
    display: none;
}

.home-main-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 175pt;
    min-height: 75pt;
    border-top: var(--input-background-color) solid 1pt;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-height: 150pt;
    min-height: 50pt;
    border-bottom: var(--input-background-color) solid 1pt;
}

.home-mid {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 25%;
    width: 25%;
    min-width: 150pt;
    float: left;
    background-color: var(--dark-background);

}

.home-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 75pt;
    max-width: 5%;
    gap: 10pt;
    background-color: var(--mid-dark-background);
}

.home-sidebar-content{
    width: 65%;
    height: 50.5%;
}

.sidebar-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mid-dark-background);
    border: var(--dark-background) solid 2pt;
    color: #444b5c;
    min-width: 55pt;
    min-height: 55pt;
    border-radius: 10pt;
    max-height: inherit;
}

.sidebar-icon-container:hover {
    filter: brightness(110%);
}

.sidebar-icon-container:active {
    filter: brightness(125%);
}

.avatar-frame{
    padding: 0;
    margin: 0;
    width: 25pt;
    height: 25pt;
    background-color: transparent;
}

.user-card {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 50pt;
    min-height: 50pt;
    border: transparent;
    background-color: var(--mid-dark-background);
    filter: brightness(110%);
    border-radius: 15pt;
    margin: 10pt;

}

.channel-card {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 50pt;
    min-height: 50pt;
    border: transparent;
    background-color: var(--mid-dark-background);
    filter: brightness(110%);
    border-radius: 15pt;
    margin: 10pt;

}

.highlight:hover{
    filter: brightness(130%);
}

.dot {
    height: 8pt;
    width: 8pt;
    background-color: var(--success-color);
    border-radius: 50%;
    display: inline-block;
}

.textarea-wrapper {
    padding: 5pt;
    box-sizing: border-box;
    max-height: inherit;
    width: inherit;
    max-width: 60%;
    min-width: 100pt;
    outline: none;
    border-width: 2pt;
    border-style: solid;
    border-radius: 10pt;
    background-color: var(--mid-dark-background);
    border-color: #444b5c;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.textarea-wrapper:focus-within {
    border: double 2pt transparent;
    border-radius: 10pt;
    background-image: linear-gradient(var(--mid-dark-background), var(--mid-dark-background)), linear-gradient(160deg, var(--gradient-start), var(--gradient-end));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.textarea-style {
    width: 100%;
    height: auto;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    background-color: transparent;
    max-height: 100%;
    border: none;
    outline: none;
    text-align: justify-all;
}

.bubble-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.self-bubble {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10pt;
    max-width: 50%;
    border-radius: 10pt;
    margin-right: 10pt;
    gap: 5pt;
    background-color: var(--background);
}

.bubble-message{
    text-align: left;
    align-self: flex-end;
    word-break: break-word;
}

.other-bubble {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10pt;
    border-radius: 10pt;
    margin-left: 10pt;
    max-width: 50%;
    gap: 5pt;
    background-image: linear-gradient(160deg, var(--gradient-start), var(--gradient-end));
    animation: anime 10s ease-in-out infinite;
    background-size: 200%;
}

.bubble-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100pt;
}

.request-button{

    width: 40px;
    height: 40px;
    background-color: transparent;
    border: solid 2pt;
    border-radius: 10pt;

}

.request-button:hover{
    filter: brightness(125%);
}