
.form-group{
    position: relative;
}

.icon{
    color: white;
    grid-column: 1;
    grid-row: 1;
    margin-left: 10pt;
    margin-top: 10pt;
    pointer-events:none;
}

.input-style{
    min-width: 250pt;
    min-height: 20pt;
    outline: none;
    border-width: 2pt;
    padding: 5pt 5pt 5pt 25pt;
    grid-column: 1;
    grid-row: 1;
}

.grid{
    display: grid;
}

.input-style:focus {

    border: double 2pt transparent;
    border-radius: 10pt;
    background-image: linear-gradient(var(--input-background-color), var(--input-background-color)), linear-gradient(160deg, var(--gradient-start), var(--gradient-end));
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.animated-gradient-text {
    background-image: linear-gradient(160deg, #743ad5, #d53a9d);
    background-clip: text;
    color: transparent;
    animation: anime 10s ease-in-out infinite;
    background-color: var(--input-background-color);
    background-size: 200%;
    pointer-events: all;
    -webkit-background-clip: text;
}

@keyframes anime {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.default-border{
    border-style: solid;
    border-radius: 10pt;
    background-color: var(--input-background-color);
    border-color: var(--idle-color);
}

.success-border{
    border-color: var(--success-color);
}

.error-border{
    border-color: var(--error-color);
}

.info-div{
    padding: 2.5pt;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 10pt;
}

.default-hidden {
    display: none;
}

.error-color{
    color: var(--error-color);
}

.success-color{
    color: var(--success-color);
}