.confirm-button{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    border: 0;
    border-radius: 10pt;
    min-width: 100%;
    min-height: 30pt;
    transition: 0.25s;
}

.confirm-button:hover {
    filter:brightness(110%);
    transition: 0.25s;
}

.confirm-button:active {
    filter:brightness(90%);
    transition: 0.25s;
}

.confirm-button:disabled {
    background-image: none;
    animation: none;
    color: #9B9C9Eff;
    background-color: #1A1D21ff;
    pointer-events:none;
}

.icon{
    color: white;
    grid-column: 1;
    grid-row: 1;
    margin-left: 10pt;
    margin-top: 10pt;
    pointer-events:none;
}

.icon-input{
    min-width: 250pt;
    min-height: 20pt;
    outline: none;
    border-width: 2pt;
    padding: 5pt 5pt 5pt 25pt;
    grid-column: 1;
    grid-row: 1;
}

.default-border{
    border-style: solid;
    border-radius: 10pt;
    background-color: var(--input-background-color);
    border-color: var(--idle-color);
}

.success-border{
    border-color: var(--success-color);
}

.error-border{
    border-color: var(--error-color);
}