:root{

    --input-background-color: #1a1d21ff;
    --background: #131619ff;
    --dark-background: #0d0f10ff;
    --light-background: #9b9c9eff;

    --warning-color: #ffdc75ff;
    --success-color: #4ac97eff;
    --error-color: #d0302fff;
    --idle-color: #363a3dff;

    --gradient-start: #743ad5ff;
    --gradient-end: #d53a9dff;
}