<!DOCTYPE html>

<body>

<div class="main-header">
    <label id="chat-title" class="basic-text" style="padding-left: 25pt"></label>
</div>

<div id="chat-main-content" class="home-main-content">

    <div class="fields-div center-flex" style="padding: 10pt; height: 100%">

        <div class="info-div secondary-text">
            <i class="fa-solid fa-home fa-10x"></i>
        </div>

        <label style="font-size: 50px; padding: 0;" class="secondary-text">Welcome</label>

        <div style="flex-direction: row">
            <label style="font-size: 25px; padding: 0;" class="secondary-text">Welcome to your home page.</label>
        </div>

    </div>

</div>

<div class="home-main-bottom">

    <div class="textarea-wrapper">
        <textarea oninput="refreshInputArea()" placeholder="Type your message here" id="input-area" class="textarea-style basic-text"></textarea>
    </div>

</div>

</body>