<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp | Home</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans">
<link rel="stylesheet" href="css/shared.css">
<link rel="stylesheet" href="css/auth.css">
<link rel="stylesheet" href="css/input.css">
<link rel="stylesheet" href="css/home.css">

<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/shared.js"></script>
<script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>
<body class="center-flex">

    <div class="home-sidebar">

        <div class="home-sidebar-content center-flex" style="flex-direction: column; gap: 10pt">

            <button class="sidebar-icon-container">
                <i class="fa-solid fa-user animated-gradient-text fa-2x"></i>
            </button>

            <button class="sidebar-icon-container">
                <i class="fa-solid fa-message animated-gradient-text fa-2x"></i>
            </button>

            <button class="sidebar-icon-container">
                <i class="fa-solid fa-gear animated-gradient-text fa-2x"></i>
            </button>

            <button class="sidebar-icon-container" style="justify-self: center">
                <img class="avatar-frame" src="/assets/images/avatars/<%=avatar%>">
            </button>

        </div>

    </div>

    <div class="home-main">

        <div id="home-main-content" class="home-main-content">

        </div>

        <div class="home-main-bottom">

            <div class="textarea-wrapper">
                <textarea oninput="refreshInputArea()" placeholder="Type your message here" id="input-area" class="textarea-style basic-text"></textarea>
            </div>

        </div>

    </div>

</body>
<script type="text/javascript" src="js/home.js"></script>
</html>