<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp | Home</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans">
<link rel="stylesheet" href="css/shared.css">
<link rel="stylesheet" href="css/auth.css">
<link rel="stylesheet" href="css/input.css">
<link rel="stylesheet" href="css/home.css">

<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/shared.js"></script>
<script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>
<body class="center-flex">

    <div class="home-sidebar">

        <div class="home-sidebar-content">

        </div>

        <div class="home-sidebar-bottom">

            <div style="display: flex; flex-direction: row; align-items: center;">

                <img class="avatar-frame" src="/assets/images/avatars/<%=avatar%>">

                <div style="display: flex; flex-direction: column; padding-left: 10pt">

                    <label class="basic-text"><%=username%></label>

                    <div class="left-flex" style="flex-direction: row; align-items: center; gap:0">

                        <span class="dot"></span>
                        <label class="basic-text" style="font-size: 8pt; padding-left: 3pt">Online</label>

                    </div>

                </div>

            </div>

            <button onclick="document.location.assign('/signout')" class="animated-gradient secondary-text" style="background-clip:text; border:0; -webkit-background-clip: text; color: transparent;">Sign out</button>

        </div>

    </div>

    <div class="home-main">

        <div class="home-main-content">

            <div class="fields-div center-flex" style="padding: 10pt;">

                <div class="secondary-text">
                    <i class="fa-solid fa-screwdriver-wrench fa-10x"></i>
                </div>

                <label style="font-size: 50px; padding: 0;" class="secondary-text">Work in progress</label>

                <div style="flex-direction: row">
                    <label style="font-size: 25px; padding: 0;" class="secondary-text">You are logged in as </label>
                    <label style="font-size: 25px; padding: 0;" class="secondary-text animated-gradient-text"><%=username%></label>
                    <label style="font-size: 25px; padding: 0;" class="secondary-text">but there is nothing to do... Yet!</label>
                </div>

            </div>

        </div>

        <div class="home-main-bottom">

            <div class="textarea-wrapper">
                <textarea oninput="refreshInputArea()" placeholder="Type your message here" id="input-area" class="textarea-style basic-text"></textarea>
            </div>

        </div>

    </div>

</body>
<script type="text/javascript" src="js/home.js"></script>
</html>