<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans">
<link rel="stylesheet" href="css/variables.css">
<link rel="stylesheet" href="css/auth.css">
<link rel="stylesheet" href="css/input.css">
<script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>

<body class="body-root center-flex">

<div class="content-div center-flex">

    <div class="fields-div center-flex">

        <div class="info-div animated-gradient-text">
            <i class="fa-solid fa-comment fa-10x"></i>
        </div>

        <h1 style="background-clip:text; -webkit-background-clip: text; padding: 0; margin: 0; color: transparent; font-size: 45pt;"
            class="text-style animated-gradient">ChatApp</h1>

        <p style="font-size: 25px; margin: 0;" class="label-style">An online messaging platform</p>

        <button id='signin' style="margin-top: 7.5pt" onclick="document.location.assign('/signin')" class="confirm-button animated-gradient">Sign In</button>

        <button id='signup' style="margin-top: 7.5pt" onclick="document.location.assign('/signup')" class="confirm-button animated-gradient">Sign Up</button>

    </div>

</div>

</body>

</html>