<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
</head>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="css/styles.css">
<script>
    function invokeLogin(user, password){
        login(user, password);
    }
</script>
<body class="body-style">
    <div class ='root'>
        <div class='default-div'>
            <p>Login Page!</p>
            <label>Username: <input id="user"></label>
            <br>
            <label>Password: <input id="password" type="password"></label>
            <br><br>
            <button class="button button--primary" onclick="invokeLogin(document.getElementById('user').value, document.getElementById('password').value)">Login</button>
            <button class="button button--secondary" onclick="window.location.replace('http://localhost:8080' + '/register');">Create an account</button>
        </div>
    </div>
</body>
</html>