<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
</head>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="css/styles.css">
<script>
    function invokeRegister(user, password){
        register(user, password);
    }
</script>
<body class="body-style">
    <div class='root'>
        <div class='default-div'>
            <h1>Register</h1>
            <label>Username: <input id="user"></label>
            <br>
            <label>Password: <input id="password" type="password"></label>
            <br><br>
            <div>
                <button class="button button--primary" onclick="invokeRegister(document.getElementById('user').value, document.getElementById('password').value)">Register</button>
                <br>
                <button class="button button--secondary" onclick="window.location.replace('http://localhost:8080' + '/login');">Log in instead</button>
            </div>
        </div>
    </div>
</body>
</html>