<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat app</title>
</head>
<script src="socket.io/socket.io.js"></script>
<script type="text/javascript" src="js/socket.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="css/styles.css">
<script>
    function invokeLogin(user, password){
        login(user, password);
    }
</script>
<body>
    <p>Test</p>
</body>
</html>