<!DOCTYPE html>
<body>

<div class="fields-div center-flex" style="padding: 10pt; height: 100%">

    <div class="info-div secondary-text">
        <i class="fa-solid fa-triangle-exclamation fa-10x"></i>
    </div>

    <label style="font-size: 50px; padding: 0;" class="secondary-text">Unauthorized</label>

    <div style="flex-direction: row">
        <label style="font-size: 25px; padding: 0;" class="secondary-text">You are not authorized to access this content.</label>
    </div>

</div>

</body>